:root {
  --general-bg: #fff;
  --general-text: #040404;
  --secondary-text: #9c9c9c;
  --black-text: #000;
  --accent-color: #de343d;
  --elements-bg: #f9f9f9;
  --elements-text: #808080;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 20px;
  scrollbar-color: var(--general-text) var(--general-bg);
}

.body {
  font-family: 'Monument Extended', sans-serif;
  font-weight: normal;
  line-height: 2.2;
  letter-spacing: 0.07em;
  color: var(--black-text);
  background: var(--general-bg);
}

.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
}

/* доп. обертка для первого экрана, чтоб не считать высоту элементов */
.first__window {
  height: 100vh;
  overflow: hidden;
}

.container {
  max-width: 1760px;
  margin: 0 auto;
  padding: 0 15px;
  height: 100%;
}

.title {
  font-size: 40px;
  color: var(--accent-color);
  margin-bottom: 40px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 196px;
  color: var(--general-bg);
  text-transform: uppercase;
  font-size: 20px;
  line-height: 2.5;
  border: 2px solid var(--general-bg);
  padding: 8px 24px;
  transition: border .4s, color .4s;
}
.button:hover {
  color: var(--accent-color);
  border: 2px solid var(--accent-color);
}

.slide {
  max-width: 360px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.slide__img {
  max-width: 360px;
  height: 377px;
  background: var(--elements-bg);
  padding: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.slide__img img {
  width: 80%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.slide__img img:first-child {
  opacity: 1;
  transition: opacity .4s;
}
.slide__img img:last-child {
  opacity: 0;
  transition: opacity .4s;
}
.slide__img:hover img:first-child {
  opacity: 0;
}
.slide__img:hover img:last-child {
  opacity: 1;
}
.slide__text {
  display: flex;
  flex-direction: column;
  gap: 6.29px;
  line-height: 1.4;
}
.slide__brand {
  font-size: 20px;
  letter-spacing: 1.57px;
  color: var(--secondary-text);
}
.slide__model {
  font-size: 22px;
}
.slide__price {
  font-size: 18px;
}
.slide__size {
  color: var(--accent-color);
}