.reclame {
  height: 100vh;
  position: relative;
}

.reclame__marquee {
  width: 100%;
  overflow: hidden;
}

.reclame__marquee-inner {
  display: flex;
  animation: marquee 10s linear infinite;
  width: max-content;
  height: 70px;
  align-items: center;
}

.track {
  display: flex;
  align-items: center;
  gap: 30px;
  white-space: nowrap;
  padding-right: 30px;
  font-size: 36px;
  text-transform: uppercase;
}

.track img {
  height: 40px;
  margin-left: 20px;
}

@keyframes marquee {
  from {transform: translateX(0%);}
  to   {transform: translateX(-25%);}
}

.reclame__video {
  width: auto;
  height: 90%;
  position: relative;
  overflow: hidden;
}
.reclame__video video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.reclame__video-blur {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  inset: 0;
  background: #c4c4c433;
  backdrop-filter: blur(12px);
}
.reclame__video-blur img {
  display: block;
  max-width: 500px;
  margin-left: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logo-base {
  opacity: 0.7;
}
.logo-shine {
  mask-image: linear-gradient(
    90deg,
    rgba(0,0,0,0) 0%,
    rgba(0,0,0,1) 50%,
    rgba(0,0,0,0) 100%
  );
  mask-repeat: repeat-x;
  mask-size: 200% 100%;
  mask-position: 0 0;
  animation: shine 3s linear infinite;
  filter: brightness(450%);
}

@keyframes shine {
  0% {mask-position: -100% 0;}
  100% {mask-position: 100% 0;}
}

.reclame__video-blur::after {
  content: "airmax";
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  inset: 0;
  font-size: 20vw;
  letter-spacing: -0.04em;
  color: #ffffff24;
  text-transform: uppercase;
  z-index: -1;
}