.top-sellers {
  height: 100vh;
  margin: 80px 0px 0px;  
}
.top-sellers__inner {
  height: 90%;
  position: relative;
  display: flex;
  gap: 25px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
}
/* -------------------------------- */
.top-sellers__slider {
  width: 100%;
  margin-bottom: 70px;
}

.top-sellers__button-prev,
.top-sellers__button-next {
  display: inline-block;
  width: 60px;
  height: 60px;
  position: absolute;
  top: 318px;
  z-index: 5;
}
.top-sellers__button-prev {
  left: -10px;
}
.top-sellers__button-next {
  right: -10px;
}
.top-sellers__button-prev path,
.top-sellers__button-next path {
  transition: fill .4s;
}
.top-sellers__button-prev:hover path,
.top-sellers__button-next:hover path {
  fill: var(--accent-color);
}
/* -------------------------------------- */
.top-sellers__btn {
  border: 1.56px solid #dedede;
  color: var(--elements-text);
  transition: border-color .4s, color .4s;
}
.top-sellers__button:hover {
  border-color: var(--accent-color);
  color: var(--accent-color);
}