body {
    background-color: #1e1e20;
}

.wrapper {
    padding: 50px;
    height: 100%;
}

.container {
    position: relative;
    height: 200px;
    background-color: #444;
}

.block {
    background-color: #fff;
    height: 200px;
    width: 200px;
    position: absolute;
}

/* ========================================================= */

.block {
    animation: move-block 5s .4s infinite alternate,
    color-block 5s .4s infinite alternate;
    animation-timing-function: linear;
}

@keyframes move-block {
    0% {
        left: 0px;
        border-radius: 0px;
    }
    25% {
        border-radius: 50%;
    }

    50% {
        border-radius: 0px;
    }
    
    75% {
        border-radius: 50%;
    }
    100% {
        left: calc(100% - 200px);
        border-radius: 0px;
    }
}
@keyframes color-block {
    0% {
        background-color: #1b1c42;
    }
    50% {
        background-color: #85ceff;
    }
    100% {
        background-color: #1b1c42;
    }
}