.footer {
    background: #AB8261;
    color: var(--general-bg);
    padding: 60px 0;
}

.footer__inner {
    display: flex;
    gap: 20px;
    align-items: flex-start;
    justify-content: space-between;
}

.footer__column {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer__column-inner {
    display: flex;
    flex-direction: column;
    gap: 15px;
    flex-grow: 1;
    justify-content: flex-start;
}
/* ---------------------------- */
.footer__column:nth-child(1) {
    min-width: 21.5%;
    margin-top: -30px;
}
.footer__column:nth-child(2) {
    min-width: 14.3%;
}
.footer__column:nth-child(3) {
    min-width: 21.5%;
}
.footer__column:nth-child(4) {
    min-width: 18%;
    gap: 50px;
}
/* -------------------------- */
.footer__logo {
    display: block;
    max-width: 240px;
}
.footer__logo img {
    width: 100%;
}

.footer__menu {
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.footer__menu-item {
    position: relative;
    z-index: 1;
}
.footer__menu-item::before {
    content: "";
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background: var(--accent-color);
    position: absolute;
    top: -13px;
    left: -13px;
    z-index: -1;
    opacity: 0;
    visibility: hidden;
    transition: opacity .4s, visibility .4s;
}
.footer__menu-item:hover::before {
    opacity: 1;
    visibility: visible;
}
.footer__menu-link {
    display: block;
    line-height: 1.6;
}
/* ------------------------ */
.footer__address {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.footer__address span {
    display: flex;
    gap: 8px;
    align-items: center;
}
/* -------------------------- */
.footer__tel {
    display: flex;
    flex-direction: column;
    align-self: end;
}
.footer__tel a {
    font-weight: 500;
    font-size: 24px;
    text-transform: uppercase;
    transition: color .4s;
}
.footer__tel a:hover {
    color: var(--accent-color);
}
.footer__copyright {
    align-self: flex-end;
    color: #DEC5B1;
}
/* ---------------------------- */
.social__list {
    display: flex;
    gap: 15px;
}
.social__item path {
    transition: fill .4s;
}
.social__item:hover path {
    fill: var(--accent-color);
}
.social__link {
    display: flex;
}