@import "reset.css";
@import "fonts.css";
@import "general.css";
@import "header.css";
@import "footer.css";


/* ======================================== */
/* --------------------MAIN---------------- */
/* ======================================== */
/* --------------------ABOUT---------------- */
/* ======================================== */

.about {
    margin: 140px 0;
}
.about__inner {
    display: grid;
    grid-template-columns: 1fr 1.1fr;
    grid-template-rows: repeat(2, auto);
    gap: 40px 53px;
}

.about__img {
    grid-row: 1 / -1;
    position: relative;
}
.about__img > img {
    width: 100%;
    height: 100%;
    border-radius: var(--bdrs-general);
    object-fit: cover;
    object-position: 0% 50%;
}

.about__img-controls {
    max-width: 300px;
    padding: 15px 20px;
    border-radius: var(--bdrs-general);
    background-color: #957b97e6;
    color: var(--general-bg);
    display: flex;
    gap: 10px;
    align-items: center;
    position: absolute;
    left: 30px;
    bottom: 25px;
}
.about__play-button {
    width: 78px;
    height: 78px;
    padding: 16.77px;
    border-radius: 50%;
    background: var(--general-bg);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
}
.about__play-button::before {
    content: "";
    position: absolute;
    border-radius: 50%;
    inset: 5px;
    border: 1px solid #CEAAD0;
    opacity: 0;
    transition: opacity .4s;
}
.about__play-button:hover::before {
    opacity: 1;
}

.about__content {
    display: flex;
    flex-direction: column;
}
.about__title {
    font-family: "Gabriola", sans-serif;
    font-size: 74px;
    line-height: 0.82;
}
.about__title-desc {
    margin-bottom: 30px;
}

.about__advantages-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;
}
.about__advantages-item {
    max-width: 296px;
    padding: 29px 23px;
    background: var(--accent-bg);
    border-radius: var(--bdrs-general);
    display: flex;
    align-items: center;
    gap: 10px;
}

.about__advantages-img {
    flex-shrink: 0;
    border: 1px solid var(--general-text);
    border-radius: 50%;
    padding: 18px;
}
.about__advantages-img img {
    width: 100%;
}
/* ======================================== */
/* --------------------ABOUT---------------- */
/* ======================================== */

/* ======================================== */
/* --------------------PROGRAM---------------- */
/* ======================================== */

.program {
    margin-bottom: 140px;
}
.program__inner {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(3, auto);
    gap: 50px 10px;
}

.program__heading {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: start;
}
.program__title {
    white-space: nowrap;
    font-family: "Gabriola", sans-serif;
    font-size: 68px;
    line-height: 0.82;
}
.program__text {
    all: unset;
}

.program__tabs-controls {
    width: 100%;
    align-self: end;
    justify-self: end;
}
.tabs-controls__list {
    display: flex;
    gap: 26px;
}
.tabs-controls__item {
    border-radius: 100px;
    padding: 14px 30px;
    background: var(--general-bg);
    box-shadow: 0 4px 20px 0 #cec3b94d;
    transition: background .4s, box-shadow .4s;
}
.tabs-controls__item:hover {
    background: var(--accent-color);
}
.tabs-controls__item--active {
    background: var(--accent-color);
    box-shadow: 0 4px 20px 0 #cec3b900;
}
.tabs-controls__link {
    white-space: nowrap;
    padding: 10px;
    line-height: 1.9;
}

.program__tabs-content {
    grid-column: 1 / -1;
}
.tabs-content {
    width: 100%;
    max-height: 0;
    display: flex;
    flex-direction: column;
    gap: 30px;
    opacity: 0;
    visibility: hidden;
    transition: max-height .4s, opacity .4s, visibility .4s;
}
.tabs-content--active {
    max-height: fit-content;
    opacity: 1;
    visibility: visible;
}

.accordion {
    display: flex;
    flex-direction: column;
    border: 1px solid #ffa55c;
    border-radius: 20px;
    padding: 35px 30px;
}
.accordion__button {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
}
.accordion__button-title {
    font-family: "Gabriola", sans-serif;
    font-size: 42px;
    line-height: 0.9;
}
.accordion__button-icon {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background: var(--general-bg);
    border: 1.50px solid var(--accent-color);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    transition: background .4s, transform .4s;
}
.accordion__button-icon:hover {
    background:var(--accent-color);
    transform: rotate(90deg);
}
.accordion__button-icon:hover path {
    fill: var(--general-bg);
}
.accordion__button-icon--active {
    background:var(--accent-color);
    transform: rotate(90deg);
}
.accordion__button-icon--active path {
    fill: var(--general-bg);
}

.accordion__content {
    max-height: 0;
    overflow: hidden;
    margin: 0;
    display: flex;
    align-items: start;
    justify-content: start;
    gap: 80px;
    flex-shrink: 0;
    transition: max-height .4s, margin .4s, opacity .4s, visibility .4s;
}
.accordion__content--active {
    margin: 20px 0px 0px;
}
.accordion__content-theory {
    max-width: 510px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.accordion__content-theory__title {
    color: #ceaad0;
    text-transform: uppercase;
}
.accordion__content-theory__list {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 20px;
    }
.accordion__content-theory__item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}
.accordion__content-theory__item span {
    width: 24px;
    height: 24px;
    padding: 7px;
    border-radius: 50%;
    border: 1px solid #ceaad0;
    flex-shrink: 0;
}
.accordion__content-theory__item span img {
    width: 100%;
}

.accordion__content-practice {
    max-width: 275px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.accordion__content-practice__title {
    text-transform: uppercase;
    color: #ceaad0;
}

.program__sale {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(3, auto);
    gap: 40px;
    justify-self: center;
}
.program__sale-offer--big {
    max-width: 287px;
    display: flex;
    flex-direction: column;
    gap: 7px;
    justify-content: space-between;
    padding: 40px;
    grid-row: 1 / 3;
    border-radius: var(--bdrs-general);
    background: var(--accent-bg);
}
.program__sale-offer--big p:first-of-type {
    font-size: 20px;
}
.program__sale-offer--big span {
    font-family: "Gabriola", sans-serif;
    font-size: 74px;
    line-height: 0.82;
    color: var(--accent-color);
    align-self: center;
    animation: blinking .8s infinite alternate linear;
}
@keyframes blinking {
    from {
        transform: scale(1.15);
    }
    50% {
        transform: scale(1);
    }
    to {
        transform: scale(0.85);
    }
}
.program__sale-offer--big p:last-of-type {
    align-self: flex-end;
}
.program__sale-offer {
    max-width: 173px;
}
.program__sale-offer p {
    line-height: 1.6;
    text-transform: uppercase;
    color: #ceaad0;
}
.program__sale-offer span {
    font-family: "Gabriola", sans-serif;
    font-size: 32px;
    line-height: 0.9;
    color: var(--general-text);
}

.program__sale .button {
    grid-column: 1 / -1;
    align-self: center;
}

.program__img {
    max-height: 334px;
}
.program__img img {
    width: 100%;
    height: 100%;
}
/* ======================================== */
/* -----------------PROGRAM---------------- */
/* ======================================== */

/* ======================================== */
/* -----------------GALLERY---------------- */
/* ======================================== */
.gallery {
    margin-bottom: 140px;
}
.gallery__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
    margin-bottom: 40px;
}

.gallery__img {
    align-self: center;
    justify-self: center;
}
.gallery__img img {
    max-width: 100%;
}

.gallery__content {
    display: flex;
    gap: 30px 15px;
    align-items: end;
    justify-content: space-between;
}
.gallery__info {
    max-width: 380px;
}
.gallery__title {
    font-family: "Gabriola", sans-serif;
    font-size: 42px;
    line-height: 0.9;
    margin-bottom: 10px;
}

.gallery__nav {
    display: flex;
    gap: 98px;
    align-items: center;
    font-family: "Gabriola", sans-serif;
    font-size: 42px;
    line-height: 0.9;
    position: relative;
}


.gallery__prev,
.gallery__next {
    background: transparent;
    cursor: pointer;
    border: 2px solid var(--accent-color);
    border-radius: 50%;
    flex-shrink: 0;
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background .4s, border .4s;
}
.gallery__prev path,
.gallery__next path {
    transition: fill .4s;
}
.gallery__prev:hover,
.gallery__next:hover {
    background: var(--accent-color);
}
.gallery__prev:hover path,
.gallery__next:hover path {
    fill: var(--general-bg);
}

.swiper-button-disabled.gallery__prev,
.swiper-button-disabled.gallery__next {
    border: 2px solid #e1d9e1;
    cursor: auto;
}
.swiper-button-disabled.gallery__prev path,
.swiper-button-disabled.gallery__next path {
    fill: #e1d9e1;
}
.swiper-button-disabled.gallery__prev:hover,
.swiper-button-disabled.gallery__next:hover {
    background: transparent;
}
.swiper-button-disabled.gallery__prev:hover path,
.swiper-button-disabled.gallery__next:hover path {
    fill: #e1d9e1;
}

.gallery__pagination {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    bottom: auto;
    width: auto;
    transform: translate(-50%, -50%);
}

.gallery__slide {
    border-radius: var(--bdrs-general);
    overflow: hidden;
}
.gallery__slide img {
    width: 100%;
}
/* ======================================== */
/* -----------------GALLERY---------------- */
/* ======================================== */


/* ============================================ */
/* =================MEDIA====================== */
/* ============================================ */

@media (max-width: 1200px) {
    .hero__subtitle {
        line-height: 1.2;
    }

    .hero__title {
        max-width: 450px;
        font-size: 65px;
    }

    .hero__text {
        max-width: 360px;
    }

    .hero__button {
        max-width: 360px;
    }

    .hero__img {
        max-width: 340px;
        margin-right: 200px;
    }
/* ---------------------------- */
    .about__inner {
        gap: 30px 40px;
    }


    .about__advantages-item {
        padding: 15px 5px;
    }
/* ---------------------------- */
.program__title {
    font-size: 50px;
}
.tabs-controls__list {
    gap: 16px;
}
.program__sale-offer--big {
    max-width: 250px;
    padding: 30px;
}
.program__img {
    max-width: 500px;
    max-height: 334px;
    align-self: center;
    justify-self: center;
}



/* ---------------------------- */
    .footer__inner {
        flex-wrap: nowrap;
    }
}

/* ----------------------------- */

@media (max-width: 1050px) {
    .about__img {
        grid-row: auto;
    }
    .about__advantages {
        grid-column: 1 / -1;
    }
    .about__content {
        justify-content: center;
    }
    .about__advantages-item {
        max-width: none;
        padding: 18px 15px;
    }
/* -------------------------- */
    .tabs-controls__list {
        padding: 0px 20px;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    .tabs-controls__item {
        padding: 8px 30px;
    }


    .program__sale {
        gap: 25px;
    }



    .program__sale-offer--big {
        max-width: 100%;
        grid-column: 1 / 3;
        white-space: wrap;
    }








/* -------------------------- */

    .footer__inner {
        padding: 0 50px;
        gap: 40px 0;
        flex-wrap: wrap;
}
    .footer__column:nth-child(1) {
        flex-basis: 50%;
        order: 1;
    }
    .footer__column:nth-child(2) {
        flex-basis: 50%;
        order: 3;
    }
    .footer__column:nth-child(3) {
        flex-basis: 50%;
        order: 2;
    }
    .footer__column:nth-child(4) {
        flex-basis: 50%;
        order: 4;
    }

    .footer__column-inner:nth-child(1)
    .footer__column-inner:nth-child(2) {
        align-items: flex-start;
        align-self: flex-start;
    }

    .footer__address span {
        flex-direction: row-reverse;
    }

    .footer__tel,
    .footer__copyright {
        text-align: right;
    }
}

/* ----------------------------- */

@media (max-width: 900px) {
    .burger-icon {
        display: flex;
    }

    .nav {
        position: fixed;
        inset: 0;
        z-index: 15;
        font-size: 24px;
        padding: 16vh 15px 30px;
        background: var(--general-bg);
        opacity: 0;
        visibility: hidden;
        transition: opacity .4s, visibility .4s;
    }

    .header__inner--opened .nav {
        opacity: 1;
        visibility: visible;
    }

    .nav__list {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 5vh;
    }

    .hero__subtitle {
        line-height: 1.2;
    }

    .hero__title {
        max-width: 400px;
        font-size: 60px;
    }

    .hero__text {
        max-width: 300px;
    }

    .hero__button {
        max-width: 360px;
    }

    .hero__img {
        max-width: 240px;
        margin-right: 80px;
        align-self: flex-start;
    }

    .hero__img-controls {
        flex-direction: column;
        bottom: calc(0% - (136px / 2 + 70px / 2));
        left: 0%;
    }

    .hero__img-controls span {
        text-align: center;
    }

    .hero__play-button {
        width: 70px;
        height: 70px;
    }

    .hero__play-button::before {
        content: "";
        position: absolute;
        border-radius: 50%;
        inset: 5px;
        border: 1px solid var(--accent-color);
        opacity: 0;
        transition: opacity .4s;
    }

    .hero__play-button:hover::before {
        opacity: 1;
    }

/* ------------------------- */

    .about__img-controls {
        padding: 10px;
        left: 0;
        bottom: 0;
        border-radius: 0 20px 0 20px;
    }


/* ---------------------------------- */

    .program__inner {
        grid-template-columns: auto;
    }

    .program__heading {
        align-items: center;
        justify-content: center;
    }

    .program__tabs-controls {
        align-self: center;
        justify-self: center;
    }

    .program__sale {
        grid-template-columns: auto;
        grid-template-rows: repeat(5, auto);
    }

    .program__sale-offer {
        max-width: 100%;
        grid-column: 1 / -1;
        text-align: center;
    }

    .program__sale-offer span {
        font-size: 36px;
    }

    .program__img {
        display: none;
    }

    .accordion__button {
        align-items: flex-start;
    }

/* ----------------------------- */
    .gallery__inner {
        grid-template: none;
    }

    .gallery__info {
        max-width: none;
    }

    .gallery__img {
        display: none;
    }

}
/* ----------------------------- */

@media (max-width: 700px) {
    .hero__title {
        font-size: 56px;
    }

    .hero__img {
        margin-right: 0px;
    }

/* ------------------------- */

    .tabs-controls__list {
        padding: 0px 100px;
    }

/* ------------------------- */

    .footer__column {
        flex-basis: 100% !important;
    }

    .footer__column-inner {
        align-items: center;
        text-align: center;
    }

    .footer__address {
        align-items: center;
    }

    .footer__address span {
        flex-direction: row;
    }

    .footer__tel,
    .footer__copyright {
        align-self: center;
        text-align: center;
    }

    .footer__column:nth-child(2) {
        order: 2;
    }
    .footer__column:nth-child(3) {
        order: 3;
    }
}

/* ----------------------------- */

@media (max-width: 600px) {
    .hero__inner {
        display: block;
        width: 100%;
    }

    .hero__content {
        align-items: center;
        text-align: center;
    }

    .hero__title {
        max-width: 370px;
        font-size: 50px;
    }

    .hero__text {
        margin-bottom: 30px;
    }

    .hero__img-controls--content {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        margin-bottom: 30px;
    }

    .hero__img-controls--content span {
        max-width: 220px;
        text-align: left;
    }

    .hero__img {
        display: none;
    }

    .hero__img-controls {
        display: flex;
    }

    /* -------------------------------- */

    .about {
        margin: 70px 0;
    }

    .about__inner {
        padding: 0 10px;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        gap: 30px 40px;
    }

    .about__title {
        font-size: 45px;
    }

    .about__title-desc {
        margin-bottom: 10px;
    }

    .about__advantages-list {
        grid-template-columns: auto;
        grid-template-rows: auto;
        gap: 12px;
    }

/* ----------------------------- */
    .program {
        margin-bottom: 70px;
    }

    .accordion__content {
        gap: 40px;
    }

    .accordion__button-title {
        font-size: 35px;
    }

    .tabs-controls__list {
        padding: 0px 45px;
    }

/* -------------------------------- */
    .gallery {
        margin-bottom: 80px;
    }

    .gallery__inner {
        margin-bottom: 20px;
    }

    .gallery__content {
        flex-direction: column;
    }



/* -------------------------------- */

    .footer__address span:last-child {
        width: 273px;
        align-items: flex-start;
    }
}

/* ----------------------------- */

@media (max-width: 350px) {
    .header__logo {
        max-width: 130px;
    }

    .hero__title {
        font-size: 45px;
    }

/* -------------------------------- */

    .about__img-controls {
        padding: 8px;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: 0 0 20px 20px;
    }

    .about__play-button {
        width: 60px;
        height: 60px;
    }
/* -------------------------------- */

    .program__heading {
        max-width: 325px;
    }

    .program__title {
        white-space: wrap;
        font-size: 38px;
    }

    .tabs-controls__list {
        max-width: 255px;
    }

    .tabs-controls__item {
        padding: 5px 12px;
    }

/* -------------------------------- */

    .footer__tel a {
        font-size: 20px;
    }
}