body {
    background-color: #333;
    color: #fff;
    font-family: sans-serif;
    font-size: 5rem;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
}

.title {
    position: relative;
}

.title::before {
    content: "";
    display: block;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: #fd7373;
    border: 3px solid white;
    position: absolute;
    top: 0px;
    left: -100px;
}

.title::after {
    content: "";
    display: block;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: #737cfd;
    border: 3px solid white;
    position: absolute;
    top: 5px;
    left: 405px;
}