:root {
  --general-text: #312C27;
  --accent-text: #1F1711;
  --general-bg: #FFF9F4;
  --accent-bg: #FFE0CB;
  --accent-color: #FFA55C;
  --accent-font-family: 'Gabriola';
  --bdrs-general: 20px;
}

/* от себя: для плавного скролла */
html {
  scroll-behavior: smooth;
}
/* от себя: для небольшого отступа при скролле до нужной секции*/
section {
  padding-top: 15px;
}

.body {
  font-family: "Montserrat", "Arial", sans-serif;
  line-height: 1.6;
  color: var(--general-text);
  background: var(--general-bg);
}
.body--no-scroll {
  overflow: hidden;
}

.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
}

.container {
  max-width: 1310px;
  margin: 0 auto;
  padding: 0 15px;
  height: 100%;
}

.button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  border-radius: 60px;
  padding: 19px 36px;
  background: var(--accent-color);
  font-weight: 500;
  transition: background .4s;
}

.button:hover {
  background: #FF9138;
}

.modal {
  position: fixed;
  inset: 0;
  z-index: 12;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity .6s, visibility .6s;
}

.body-modal--active .modal {
  opacity: 1;
  visibility: visible;
}

.modal__window {
  max-width: 428px;
  background: var(--general-bg);
  padding: 0 60px 60px;
  border-radius: var(--bdrs-general);
  position: relative;
  display: flex;
  flex-direction: column;
}
.modal__img {
  max-width: 248px;
  margin: -65px 0 15px;
  align-self: center;
}
.modal__img img {
  width: 100%;
}
.modal__close {
  position: absolute;
  top: 20px;
  right: 20px;
}
.modal__close path,
.modal__close rect {
  transition: stroke .4s;
}
.modal__close:hover path,
.modal__close:hover rect {
  stroke: #AC907A;
}
.modal__title {
  font-family: "Gabriola", sans-serif;
  font-size: 42px;
  line-height: 0.9;
  margin-bottom: 10px;
}
.modal__text {
  margin-bottom: 30px;
}

.modal__form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.field {
  position: relative;
}
.field span {
  font-size: 11px;
  color: #AC907A;
  position: absolute;
  top: 12px;
  left: 28px;
  opacity: 0;
  visibility: hidden;
  transition: opacity .4s, visibility .4s;
}

.input {
  width: 100%;
  border-radius: 60px;
  border: 1px solid #AC907A;
  background: transparent;
  padding: 19px 28px;
  color: var(--general-text);
  font-weight: 500;
  transition: border-color .4s, padding .2s;
}
.input::placeholder {
  line-height: 1.5;
  color: #AC907A;
  transition: color .4s;
}
.input:focus {
  border-color: var(--accent-color);
  padding-top: 26px;
  padding-bottom: 12px;
}
.input:focus::placeholder {
  color: var(--accent-color);
}

.input:focus + span {
  opacity: 1;
  visibility: visible;
}