:root {
    --general-text: #312C27;
    --accent-text: #1F1711;
    --general-bg: #FFF9F4;
    --accent-bg: #FFE0CB;
    --accent-color: #FFA55C;
    --accent-font-family: 'Gabriola';
    --bdrs-general: 20px;
}

.body {
    font-family: "Montserrat", "Arial", sans-serif;
    line-height: 1.5;
    color: var(--general-text);
    background: var(--general-bg);
}
.body--no-scroll {
    overflow: hidden;
}

.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.main {
    flex-grow: 1;
}

.container {
    max-width: 1310px;
    margin: 0 auto;
    padding: 0 15px;
    height: 100%;
}

.button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
    border-radius: 60px;
    padding: 18px 36px;
    background: var(--accent-color);
    font-weight: 500;
    transition: background .4s;
}

.button:hover {
    background: #FF9138;
}
/* ======================================== */
/* -----------------GENERAL---------------- */
/* ======================================== */
.header {
    background: url(../img/decor/bg-header.png) 50% 100% / cover no-repeat;
}

.header__inner {
    margin: 20px 0 140px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.header__inner-top {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 10px;
}

.header__logo {
    max-width: 175px;
    cursor: pointer;
    z-index: 20;
}

.header__logo img {
    width: 100%;
}
/* -------------------------- */
.nav__list {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 40px;
}

.nav__item {
    position: relative;
    z-index: 1;
}

.nav__item::before {
    content: "";
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background: var(--accent-color);
    position: absolute;
    top: -13px;
    left: -13px;
    z-index: -1;
    opacity: 0;
    visibility: hidden;
    transition: opacity .4s, visibility .4s;
}

.nav__item:hover::before {
    opacity: 1;
    visibility: visible;
}
/* ------------------------------ */
.burger-icon {
    display: none;
    width: 50px;
    height: 50px;
    z-index: 15;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.burger-icon span {
    width: 30px;
    height: 3px;
    border-radius: 100px;
    background: var(--general-text);
    position: relative;
    transition: background .2s;
    }

.burger-icon span::before,
.burger-icon span::after {
    content: "";
    width: 30px;
    height: 3px;
    border-radius: 100px;
    background: var(--general-text);
    position: absolute;
}

.burger-icon span::before {
    top: -8px;
    transition: transform .4s;
}

.burger-icon span::after {  
    bottom: -8px;
    transition: transform .4s;
}

.header__inner--opened .burger-icon span {
    background: transparent;
}

.header__inner--opened .burger-icon span::before {
    top: 0;
    transform: rotate(45deg);
}

.header__inner--opened .burger-icon span::after {
    bottom: 0;
    transform: rotate(-45deg);
}
/* ======================================== */
/* --------------------HERO---------------- */
/* ======================================== */
.hero__inner {
    display: flex;
    gap: 20px;
    align-items: flex-end;
    justify-content: space-between;
}

.hero__content {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}

.hero__subtitle {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    line-height: 1.6;
    text-transform: uppercase;
    color: #b197b2;
}

.hero__subtitle span {
    position: relative;
    display: flex;
    align-items: center;
}

.hero__subtitle span::after {
    content: "";
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: #b197b2;
    position: relative;
    margin: 0 12px;
}

.hero__subtitle span:last-child::after {
    content: none;
}

.hero__title {
    max-width: 520px;
    margin-bottom: 30px;
    font-family: 'Gabriola';
    font-size: 74px;
    line-height: 0.82;
}

.hero__text {
    max-width: 360px;
    margin-bottom: 40px;
}

.hero__img-controls--content {
    display: none;
}

.hero__button {
    max-width: 360px;
}

.hero__img {
    max-width: 380px;
    margin-right: 240px;
    display: flex;
    position: relative;
}

.hero__img > img {
    width: 100%;
    position: relative;
}

.hero__img > img::before {
    content: "";
    width: 118px;
    height: 118px;
    border-radius: 50%;
    box-shadow: 0 4px 20px 0 rgba(184, 148, 126, 0.3);
    position: absolute;
    background: var(--accent-bg);
    inset: 0;
}

.hero__img-controls {
    min-width: 200px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    position: absolute;
    left: calc(100% - (78px / 2));
    bottom: calc(0% + 50px);
}

.hero__play-button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    padding-left: 1.6%;
    background: var(--accent-bg);
    width: 78px;
    height: 78px;
    border-radius: 50%;
    position: relative;
}

.hero__play-button::before {
    content: "";
    position: absolute;
    border-radius: 50%;
    inset: 5px;
    border: 1px solid var(--accent-color);
    opacity: 0;
    transition: opacity .4s;
}

.hero__play-button:hover::before {
    opacity: 1;
}
/* ======================================== */
/* --------------------MAIN---------------- */
/* ======================================== */

.about {
    margin: 140px 0;
}
.about__inner {
    display: grid;
    grid-template-columns: 1fr 1.1fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 40px 53px;
}

.about__img {
    grid-row: 1 / -1;
    position: relative;
}
.about__img > img {
    width: 100%;
    height: 100%;
    border-radius: var(--bdrs-general);
    object-fit: cover;
    object-position: 0% 50%;
}
.about__img-controls {
    max-width: 300px;
    padding: 15px 20px;
    border-radius: var(--bdrs-general);
    background-color: #957b97e6;
    color: var(--general-bg);
    display: flex;
    gap: 10px;
    align-items: center;
    position: absolute;
    left: 30px;
    bottom: 25px;
}
.about__play-button {
    width: 78px;
    height: 78px;
    padding: 16.77px;
    border-radius: 50%;
    background: var(--general-bg);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
}
.about__play-button::before {
    content: "";
    position: absolute;
    border-radius: 50%;
    inset: 5px;
    border: 1px solid #CEAAD0;
    opacity: 0;
    transition: opacity .4s;
}
.about__play-button:hover::before {
    opacity: 1;
}

.about__content {
    display: flex;
    flex-direction: column;
}
.about__title {
    font-family: "Gabriola", sans-serif;
    font-size: 74px;
    line-height: 0.82;
}
.about__title-desc {
    margin-bottom: 30px;
}

.about__advantages-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;
}
.about__advantages-item {
    max-width: 296px;
    padding: 29px 23px;
    background: var(--accent-bg);
    border-radius: var(--bdrs-general);
    display: flex;
    align-items: center;
    gap: 10px;
}

.about__advantages-img {
    flex-shrink: 0;
    border: 1px solid var(--general-text);
    border-radius: 50%;
    padding: 18px;
}

.about__advantages-img img {
    width: 100%;
}





/* ======================================== */
/* ----------------FOOTER------------------ */
/* ======================================== */
.footer {
    background: #AB8261;
    color: var(--general-bg);
    padding: 60px 0;
}

.footer__inner {
    display: flex;
    gap: 20px;
    align-items: flex-start;
    justify-content: space-between;
}

.footer__column {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer__column-inner {
    display: flex;
    flex-direction: column;
    gap: 15px;
    flex-grow: 1;
    justify-content: flex-start;
}
/* ---------------------------- */
.footer__column:nth-child(1) {
    min-width: 21.5%;
    margin-top: -30px;
}
.footer__column:nth-child(2) {
    min-width: 14.3%;
}
.footer__column:nth-child(3) {
    min-width: 21.5%;
}
.footer__column:nth-child(4) {
    min-width: 18%;
    gap: 50px;
}
/* -------------------------- */
.footer__logo {
    display: block;
    max-width: 240px;
}
.footer__logo img {
    width: 100%;
}

.footer__menu {
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.footer__menu-item {
    position: relative;
    z-index: 1;
}
.footer__menu-item::before {
    content: "";
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background: var(--accent-color);
    position: absolute;
    top: -13px;
    left: -13px;
    z-index: -1;
    opacity: 0;
    visibility: hidden;
    transition: opacity .4s, visibility .4s;
}
.footer__menu-item:hover::before {
    opacity: 1;
    visibility: visible;
}
.footer__menu-link {
    display: block;
    line-height: 1.6;
}
/* ------------------------ */
.footer__address {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.footer__address span {
    display: flex;
    gap: 8px;
    align-items: center;
}
/* -------------------------- */
.footer__tel {
    display: flex;
    flex-direction: column;
    align-self: end;
}
.footer__tel a {
    font-weight: 500;
    font-size: 24px;
    text-transform: uppercase;
    transition: color .4s;
}
.footer__tel a:hover {
    color: var(--accent-color);
}
.footer__copyright {
    align-self: flex-end;
    color: #DEC5B1;
}
/* ---------------------------- */
.social__list {
    display: flex;
    gap: 15px;
}
.social__item path {
    transition: fill .4s;
}
.social__item:hover path {
    fill: var(--accent-color);
}
.social__link {
    display: flex;
}
/* ---------------------------- */

















.modal {
    position: fixed;
    inset: 0;
    z-index: 12;
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity .6s, visibility .6s;
}

.body-modal--active .modal {
    opacity: 1;
    visibility: visible;
}

.modal__window {
    max-width: 428px;
    background: var(--general-bg);
    padding: 0 60px 60px;
    border-radius: var(--bdrs-general);
    position: relative;
    display: flex;
    flex-direction: column;
}
.modal__img {
    max-width: 248px;
    margin: -65px 0 15px;
    align-self: center;
}
.modal__img img {
    width: 100%;
}
.modal__close {
    position: absolute;
    top: 20px;
    right: 20px;
}
.modal__close path,
.modal__close rect {
    transition: stroke .4s;
}
.modal__close:hover path,
.modal__close:hover rect {
    stroke: #AC907A;
}
.modal__title {
    font-family: "Gabriola", sans-serif;
    font-size: 42px;
    line-height: 0.9;
    margin-bottom: 10px;
}
.modal__text {
    margin-bottom: 30px;
}

.modal__form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.field {
    position: relative;
}
.field span {
    font-size: 11px;
    color: #AC907A;
    position: absolute;
    top: 12px;
    left: 28px;
    opacity: 0;
    visibility: hidden;
    transition: opacity .4s, visibility .4s;
}

.input {
    width: 100%;
    border-radius: 60px;
    border: 1px solid #AC907A;
    background: transparent;
    padding: 19px 28px;
    color: var(--general-text);
    font-weight: 500;
    transition: border-color .4s, padding .2s;
}
.input::placeholder {
    line-height: 1.5;
    color: #AC907A;
    transition: color .4s;
}
.input:focus {
    border-color: var(--accent-color);
    padding-top: 26px;
    padding-bottom: 12px;
}
.input:focus::placeholder {
    color: var(--accent-color);
}

.input:focus + span {
    opacity: 1;
    visibility: visible;
}
















/* ============================================ */
/* ============================================ */
/* ============================================ */

@media (max-width: 1200px) {
    .hero__subtitle {
        line-height: 1.2;
    }

    .hero__title {
        max-width: 450px;
        font-size: 65px;
    }

    .hero__text {
        max-width: 360px;
    }

    .hero__button {
        max-width: 360px;
    }

    .hero__img {
        max-width: 340px;
        margin-right: 200px;
    }
/* ---------------------------- */
    .about__inner {
        gap: 30px 40px;
    }


    .about__advantages-item {
        padding: 15px 5px;
    }





/* ---------------------------- */
    .footer__inner {
        flex-wrap: nowrap;
    }
}

/* ============================================ */

@media (max-width: 1050px) {
    .about__img {
        grid-row: auto;
    }
    .about__advantages {
        grid-column: 1 / -1;
    }
    .about__content {
        justify-content: center;
    }
    .about__advantages-item {
        max-width: none;
        padding: 18px 15px;
    }









/* -------------------------- */

    .footer__inner {
        padding: 0 50px;
        gap: 40px 0;
        flex-wrap: wrap;
}
    .footer__column:nth-child(1) {
        flex-basis: 50%;
        order: 1;
    }
    .footer__column:nth-child(2) {
        flex-basis: 50%;
        order: 3;
    }
    .footer__column:nth-child(3) {
        flex-basis: 50%;
        order: 2;
    }
    .footer__column:nth-child(4) {
        flex-basis: 50%;
        order: 4;
    }

    .footer__column-inner:nth-child(1)
    .footer__column-inner:nth-child(2) {
        align-items: flex-start;
        align-self: flex-start;
    }

    .footer__address span {
        flex-direction: row-reverse;
    }

    .footer__tel,
    .footer__copyright {
        text-align: right;
    }
}

/* ============================================ */

@media (max-width: 900px) {
    .burger-icon {
        display: flex;
    }

    .nav {
        position: fixed;
        inset: 0;
        z-index: 15;
        font-size: 24px;
        padding: 16vh 15px 30px;
        background: var(--general-bg);
        opacity: 0;
        visibility: hidden;
        transition: opacity .4s, visibility .4s;
    }

    .header__inner--opened .nav {
        opacity: 1;
        visibility: visible;
    }

    .nav__list {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 5vh;
    }

    .hero__subtitle {
        line-height: 1.2;
    }

    .hero__title {
        max-width: 400px;
        font-size: 60px;
    }

    .hero__text {
        max-width: 300px;
    }

    .hero__button {
        max-width: 360px;
    }

    .hero__img {
        max-width: 240px;
        margin-right: 80px;
        align-self: flex-start;
    }

    .hero__img-controls {
        flex-direction: column;
        bottom: calc(0% - (136px / 2 + 70px / 2));
        left: 0%;
    }

    .hero__img-controls span {
        text-align: center;
    }

    .hero__play-button {
        width: 70px;
        height: 70px;
    }

    .hero__play-button::before {
        content: "";
        position: absolute;
        border-radius: 50%;
        inset: 5px;
        border: 1px solid var(--accent-color);
        opacity: 0;
        transition: opacity .4s;
    }

    .hero__play-button:hover::before {
        opacity: 1;
    }

/* ------------------------- */

    .about__img-controls {
        padding: 10px;
        left: 0;
        bottom: 0;
        border-radius: 0 20px 0 20px;
    }
}

/* ============================================ */

@media (max-width: 700px) {
    .hero__title {
        font-size: 56px;
    }

    .hero__img {
        margin-right: 0px;
    }

/* ------------------------- */

    .footer__column {
        flex-basis: 100% !important;
    }

    .footer__column-inner {
        align-items: center;
        text-align: center;
    }

    .footer__address {
        align-items: center;
    }

    .footer__address span {
        flex-direction: row;
    }

    .footer__tel,
    .footer__copyright {
        align-self: center;
        text-align: center;
    }

    .footer__column:nth-child(2) {
        order: 2;
    }
    .footer__column:nth-child(3) {
        order: 3;
    }
}

/* ============================================ */

@media (max-width: 600px) {
    .hero__inner {
        display: block;
        width: 100%;
    }

    .hero__content {
        align-items: center;
        text-align: center;
    }

    .hero__title {
        max-width: 370px;
        font-size: 50px;
    }

    .hero__text {
        margin-bottom: 30px;
    }

    .hero__img-controls--content {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        margin-bottom: 30px;
    }

    .hero__img-controls--content span {
        max-width: 220px;
        text-align: left;
    }

    .hero__img {
        display: none;
    }

    .hero__img-controls {
        display: flex;
    }

    /* -------------------------------- */

    .about {
        margin: 50px 0;
    }

    .about__inner {
        padding: 0 10px;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        gap: 30px 40px;
    }

    .about__title {
        font-size: 45px;
    }

    .about__title-desc {
        margin-bottom: 10px;
    }

    .about__advantages-list {
        grid-template-columns: auto;
        grid-template-rows: auto;
        gap: 12px;
    }

/* ----------------------------- */

    .footer__address span:last-child {
        width: 273px;
        align-items: flex-start;
    }
}

/* ============================================ */

@media (max-width: 350px) {
    .header__logo {
        max-width: 130px;
    }

    .hero__title {
        font-size: 45px;
    }

/* -------------------------------- */

    .about__img-controls {
        padding: 8px;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: 0 0 20px 20px;
    }

    .about__play-button {
        width: 60px;
        height: 60px;
    }

/* -------------------------------- */

    .footer__tel a {
        font-size: 20px;
    }
}