* {
  box-sizing: border-box;
}

section {
  width: 100%;
  height: 550px;
  padding: 10px;
  border: 1px solid #2a2a2a;
  border-radius: 20px 0 0 20px;
  background: #e0e0e0;
  overflow-y: scroll;
  overflow-x: hidden;
}

.block {
  display: inline-block;
  width: 250px;
  height: 200px;
  border: 1px solid #5f5555;
  box-shadow: inset 1px 1px 5px 2px #6d6767;
  border-radius: 20px;
  background: #b87932ce;
  padding: 20px;
  margin: 0 10px 10px 0;
}